<div class="container">
    <h1 class="title">
        <span>About Me</span>
    </h1>

    <section>
        <p>A passionate Frontend Developer with a strong focus on building user-friendly and responsive web applications. With over 2 years of experience, I’ve worked on several dynamic projects that involved leveraging Angular to create highly efficient user interfaces.</p>
        <p>I am constantly learning and experimenting with new technologies to stay ahead in the fast-evolving tech industry. I’m passionate about solving real-world problems through technology, and I’m always open to exploring new opportunities and ideas.</p>
    </section>
</div>
  